* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(/asset/logo.jpg);
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.top-login {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: x-large;
}
#phone-number {
    margin: 15px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    border: none;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    outline: none;
}
#otp {
    margin: 15px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    border-left: 2px solid #ccc;
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
}
#password {
    margin: 15px;
    padding-top: 5px;
    margin-top: 50px;
    padding-left: 5px;
    padding-bottom: 5px;
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
}
#confirm-password {
    margin: 15px;
    padding-top: 5px;
    margin-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
}
.container-form {
    margin: auto;
    margin-top: 6%;
    margin-bottom: 5%;
    padding: 25px;
    width: 300px;
    height: 480;
    background-color: white;
    border-radius: 25px;
    box-shadow: 10em;
}
#form {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}

#ver {
    margin-top: 50px;
    /* position: relative; */
    position: absolute;
}

#verify_otp {
    margin-top: 10px;
    margin-bottom: 5px;
    /* margin-left: 15px; */
    width: 50px;
    padding: 5px;
    border-radius: 5px;
    background-image: linear-gradient(to right, rgba(255, 166, 0, 0.723), rgba(255, 255, 0, 0.729));
    cursor: pointer;
    border: none;
}
#verify_otp:hover {
    background-image: linear-gradient(to right, rgba(255, 255, 0, 0.729), rgba(255, 166, 0, 0.723));
}

.btn-confirm {
    align-self: center;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 120px;
    padding: 10px;
    border-radius: 15px;
    background-image: linear-gradient(to right, rgba(255, 166, 0, 0.723), rgba(255, 255, 0, 0.729));
    cursor: pointer;
    border: none;
}
.btn-confirm:hover {
    background-image: linear-gradient(to right, rgba(255, 255, 0, 0.729), rgba(255, 166, 0, 0.723));
}