* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(/asset/logo.jpg);
  height: 100vh;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.top-register {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: x-large;
}

.container-form {
  margin: auto;
  margin-top: 11%;
  margin-bottom: 6%;
  padding: 3px;
  width: min-content;
  height: 480;
  background-color: white;
  border-radius: 25px;
  box-shadow: 10em;
}
#form {
  display: flex;
  flex-direction: row;
  padding: 0px;
}
.left,
.right {
  width: 200px;
  flex-direction: column;
  display: inline-flex;
  padding: 8px;
}
#haddress,
#sfname,
#fname,
#DOB,
#pnumber {
  margin: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}
#aadharnum,
#mname,
#gen,
#mailid {
  margin: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}
#aadharnum {
  width: 130px;
}
#verify {
  width: 38px;
}

#haddress {
  width: 397px;
}
#btn{
  width: 100px;
  margin-left: 42%;
  margin-top: 30px;
  align-self: center;
  padding: 10px;
  margin-bottom: 50px;
  border-radius: 15px;
  background-image: linear-gradient(to right, rgba(255, 166, 0, 0.723), rgba(255, 255, 0, 0.729));
  cursor: pointer;
  border: none;
}
#btn:hover {
  background-image: linear-gradient(to right,  rgba(255, 255, 0, 0.729),rgba(255, 166, 0, 0.723));
}




.popup{
  width: 500px;
  text-align: center;
  padding: 200px;
  color: rgb(12, 125, 55);
  background-color: #fff;
  border-radius: 6px;
  position:absolute;
  top: 0%;
  margin-top:-200px;
  left: 50%;
  transform: translate(-50%,-50%) scale(0.1);
  visibility: hidden;

}
.open-popup{
  visibility: visible;
  top: 50%;
  transform: translate(-50%,-50%) scale(1);
}
.popup h2{
  font-size: 40px;
  font-weight: 500;
  margin: 30px 0 10px;
}
/* .popup button{
  width: 10%;
  margin-top: 50px;
  padding: 1px 0;
  background: #c9dfc1;
  color: black;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0,0,0,0.2);
} */

#okbtn{
  margin: 10px;
  width: 100px;
  padding: 5px;
  color: #fff;
  background-color: rgb(12, 125, 55);;
}
.para{
  font-size: large;
}
.verify{
 position: absolute; 
 margin-left: 155px;
 margin-top: 6px;
 font-size: x-large;
  
}
.averify{
  width: 37px;
  padding-top: 6px;
}